<div class="page-bg">
  <div class="form-card animate-card">

    <h3 class="form-title">Add Student</h3>



<form #studentForm="ngForm" (ngSubmit)="addStudent(studentForm)">

  <!-- Name -->
  <div class="form-group">
    <label>Student Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="student.name"
      #name="ngModel"
      required
      placeholder="Enter student name">

    <small class="error" *ngIf="name.invalid && studentForm.submitted">
      Name must be entered
    </small>
  </div>

  <!-- Section -->
  <div class="form-group">
    <label>Section</label>
    <select
      name="section"
      [(ngModel)]="student.section"
      #section="ngModel"
      required
      (change)="onSectionChange()">
      <option value="">Select Section</option>
      <option *ngFor="let s of sections" [value]="s">{{s}}</option>
    </select>

    <small class="error" *ngIf="section.invalid && studentForm.submitted">
      Section must be entered
    </small>
  </div>

  <!-- Class -->
  <div class="form-group">
    <label>Class</label>
    <select
      name="class"
      [(ngModel)]="student.class"
      #classModel="ngModel"
      required>
      <option value="">Select Class</option>
      <option *ngFor="let c of classes" [value]="c">{{c}}</option>
    </select>

    <small class="error" *ngIf="classModel.invalid && studentForm.submitted">
      Class must be entered
    </small>
  </div>

  <!-- Division -->
  <div class="form-group">
    <label>Division</label>
    <select
      name="division"
      [(ngModel)]="student.division"
      #division="ngModel"
      required>
      <option value="">Select Division</option>
      <option *ngFor="let d of divisions" [value]="d">{{d}}</option>
    </select>

    <small class="error" *ngIf="division.invalid && studentForm.submitted">
      Division must be entered
    </small>
  </div>

  <button type="submit">Add Student</button>

</form>
</div>